<section class="user__management__form">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <dl class="form__fieldset">
      <dt class="form__fieldset__title">
        ニックネーム
      </dt>
      <dd class="form__fieldset__content">
        <div class="form__inner">
          <%= f.text_field :nickname, autofocus: true, autocomplete: "off", class: 'input-default' %>
        </div>
      </dd>
    </dl>

    <dl class="form__fieldset">
      <dt class="form__fieldset__title">
        Eメール
      </dt>
      <dd class="form__fieldset__content">
        <div class="form__inner">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-default' %>
        </div>
      </dd>
    </dl>

    <dl class="form__fieldset">
      <dt class="form__fieldset__title">
        パスワード
      </dt>
      <dd class="form__fieldset__content">
        <div class="form__inner">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </dd>
    </dl>

    <dl class="form__fieldset">
      <dt class="form__fieldset__title">
        パスワード（確認）
      </dt>
      <dd class="form__fieldset__content">
        <div class="form__inner">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </dd>
    </dl>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
