<% unless current_user.id == diary.user.id %>
  <% if current_user.following?(diary.user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: diary.user.id), html: { method: :delete, class: 'follow__form' }) do |f| %>
      <div class="follow__form__user">
        作：<%= diary.user.nickname %>
      </div>
      <%= hidden_field_tag :follow_id, diary.user.id %>
      <%= f.submit 'フォロー解除', class: 'follow__form__btn' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build, html:{class: 'follow__form'},) do |f| %>
      <div class="follow__form__user">
        <%= diary.user.nickname %>
      </div>
      <%= hidden_field_tag :follow_id, diary.user.id %>
      <%= f.submit 'フォロー', class: 'follow__form__btn follow' %>
    <% end %>
  <% end %>
<% end %>
