<main class="home">
  <section class="home__head">
    <h2>Your &nbsp;&nbsp; Diaries</h2>
  </section>

  <section class="home__diaries">
    <ul class="diaries">

      <% @diaries.each do |diary| %>

        <li class="diary-box">
          <%= link_to diary_path(diary), class: "diary-link" do %>
            <%= image_tag diary.images[0].image.url, class: 'diary-image' %>
            <div class="diary-title">
              <time><%= diary.updated_at.strftime("%Y %m %d") %>
              </time>
              <h3><%= diary.title %></h3>
            </div>
          <% end %>
        </li>

      <% end %>

    </ul>
  </section>

  <div class="post__new__diary">
    <%= link_to "日記を投稿", new_diary_path, class: "post__new__diary__link" %>
  </div>
</main>
