<section class="user__management__form">
  <h2>ログイン</h2>
  <p>以下の項目にご記入し、下の「ログイン」ボタンを押してください。</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login_form') do |f| %>

    <dl class="form__fieldset">
      <dt class="form__fieldset__title">
        Eメール
      </dt>
      <dd class="form__fieldset__content">
        <div class="form__inner">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-default' %>
        </div>
      </dd>
    </dl>

    <dl class="form__fieldset">
      <dt class="form__fieldset__title">
        パスワード
      </dt>
      <dd class="form__fieldset__content">
        <div class="form__inner">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'input-default' %>
        </div>
      </dd>
    </dl>

    <div class="actions form__submit">
      <%= f.submit "ログイン", class: "form__submit__input" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</section>
