<header>
  <div class="header-inner">
    <div class="three col">
      <div class="hamburger" id="hamburger-1">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <%= link_to diaries_path, class: "site-logo" do %>
      <div class="site__title">DIARY APP</div>
    <% end %>
    <% if user_signed_in? %>
      <ul class="menu">
        <li>
          <%= form_tag('/diaries/search',class: "search-from", method: :get) do %>
            <input class="search-input" name="keyword" placeholder="キーワード検索" type="text" value="">
            <button class="search-btn" title="検索" type="submit">
              <i class="fas fa-search"></i>
            </button>
          <% end %>
        </li>
        <li><a href="#">Ranking</a></li>
        <li class="menu-head-b">
          編集
          <i class="fas fa-sort-down"></i>
        </li>
        <li>
          <%= link_to "ログアウト", "/users/sign_out", method: :delete %>
        </li>
      </ul>
    <% end %>
  </div>
</header>

<% if user_signed_in? %>
  <div class="menu-inner-b">
    <div class="menu-b-wrapper">
      <ul class="menu-b">
        <li>
          <dl class="menu-b-top">
            <dt class="menu-b-title">ブックマーク/お気に入り</dt>
            <dd class="menu-link">
              <%= link_to like_diaries_path do %>
                <i class="far fa-bookmark"></i>
                記事
              <% end %>
            </dd>
            <dd class="menu-link">
              <%= link_to relationships_path do %>
                <i class="far fa-heart"></i>
                ユーザー
              <% end %>
            </dd>
            </dt>
          </dl>
        </li>
      </ul>
      <ul class="menu-b">
        <li>
          <dl class="menu-b-top">
            <dt class="menu-b-title">マイコンテンツ</dt>
            <dd class="menu-link">
              <%= link_to user_path(current_user) do %>
                <i class="fas fa-file-medical-alt"></i>
                マイ記事
              <% end %>
            </dd>
            <dd class="menu-link">
              <a href="#">
                <i class="fas fa-pen"></i>
                プロフィール
              </a>
            </dd>
            </dt>
          </dl>
        </li>
      </ul>
    </div>
  </div>
<% end %>
